<!DOCTYPE html>
<html>
<head>
  <title>ScribeGems</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<main class="container">
  <section class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </section>
</main>
</body>
</html>
